<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trabajando con viewport</title>
   <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
</head>



<body>

   <div class="contenedor1"> <h1>Titulo 1</h1>
      <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi cupiditate,
          quam aliquid cum aliquam ut tempora laboriosam incidunt autem exercitationem 
          rerum ex aspernatur illum voluptatibus, esse fuga eos perferendis iusto.
      </p>
   </div>

   <div class="contenedor2"> <h1>Titulo 2</h1>
      <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi cupiditate,
         q esse fuga eos perferendis iusto.  quam aliquid cum aliquam ut tempora laboriosam incidunt autem exercitationem 
         rerum ex aspernatur illum voluptatibus, esse fuga eos perferendis iusto.
      </p>
   </div>

</body>
</html>

