<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="<%= colorDeFondo %>">
  <form  action="/registro" method="POST">
    <label id="b" for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required><br>
    <label id="b">Seleccione un color:</label>
    <select name="color" value="#ffffff" required>
      <option value="#ff0000">Rojo</option>
      <option value="#00ff00">Verde</option>
      <option value="#0000ff">Azul</option>
      <option value="#770077">Morado</option>
    </select><br>
    <label for="">Recordar color</label>
    <input type="checkbox" name="recordarColor">
    <label id="b" for="">Email:</label>
    <input type="email" name="email" required><br>
    <label id="b" for="edad">Edad:</label>
    <input type="number" name="edad" id="edad" required><br>
    <button id="b" type="submit">Enviar</button>
  </form>


  <form action="/resetCookies" method="POST">
    <button type="submit"> Olvidar el color </button>
  </form>


</body>


</html>