<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="<%- colorDeFondo %>">

  <% if (locals.datos){ %>
    <p> <%= datos.nombre %>, gracias por visitarnos.
    </p>
    <% } else { %>
      <p> </p>
      <% } %>

</body>

</html>