* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.hamburger-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;     
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}


.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar {
    text-decoration: none;
    color: #222222;
    display: none;
    padding: 5px 0px;
    font-size: 17px;

}

.form {
    display: none;
}


@media (min-width: 768px) {
    .form {
        display: flex;
        width: 150px;
        align-items: center;
    }

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .copy-header {
        max-width: 300px;
        text-align: right;
        font-size: 14px;
        align-items: center;
        align-self: center;
    }
    .hamburger-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }

}

@media (min-width: 1200px) {
    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .logo {
        width: 250px
    }
    .copy-header {
        margin: 0px;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}