<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mi primera página en html</title>
   <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<!--Utilice <p> porque quedaba bien esteticamente ahora, entiendo que en otro momento al
saber utilizar CSS es mejor usar <p> y luego deshacerse de los espacios que queden utilizandolo-->

<body>
   <header>
      <img src="/images/logo-mercado-liebre.svg" alt="Imagen Logo" width="100%" height="100%">

      <nav>
            <a href="/">Inicio</a>
            <a href="/contactos">Contactos</a>
            <a href="/servicios">Servicios</a>
            <a href="/ayuda">Ayuda</a>
      </nav>

      <h4>Comprá en <strong>cuotas</strong> y sin tarjeta de crédito</h4>

      <ul>
         <li><a href="https://www.paginadeofertas.com">Ofertas</a></li>
         <li><a href="https://www.paginadeofertas.com">Tiendas Oficiales</a></li>
         <li><a href="https://www.paginadeofertas.com">Vender</a></li>
         <li><a href="https://www.paginadeofertas.com">Ayuda</a></li>
      </ul>

      <ul>
         <li><a href="https://www.paginadeofertas.com">Crea tu cuentá</a></li>
         <li><a href="https://www.paginadeofertas.com">Ingresá</a></li>
         <li><a href="https://www.paginadeofertas.com">Mis Compras</a></li>
      </ul>

   </header>
   
   <main>
      <section>
         <h2>Basado en tu última visita</h2>

         <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="100%" height="100%">
         <p>$6.770</p>
         <p class="linea-destacada"><em>40% OFF</em></p>
         <p>Cafetera Moulinex</p>

         <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%" height="100%">
         <p>$6.770</p>
         <p class="linea-destacada"><em>40% OFF</em></p>
         <p>MacBook Pro</p>

         <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%" height="100%">
         <p>$6.770</p>
         <p class="linea-destacada"><em>40% OFF</em></p>
         <p>Samsung Galaxy S10</p>

         <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%" height="100%">
         <p>$6.770</p>
         <p class="linea-destacada"><em>40% OFF</em></p>
         <p>Samsung SmartTv</p>
         
      </section>

      <section>
         <h2>Ofertas</h2>

         <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="100%" height="100%">
         <p>$6.770</p>
         <p>40% OFF</p>
         <p>Cafetera Moulinex</p>

         <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%" height="100%">
         <p>$6.770</p>
         <p>40% OFF</p>
         <p>MacBook Pro</p>

         <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%" height="100%">
         <p>$6.770</p>
         <p>40% OFF</p>
         <p>Samsung Galaxy S10</p>

         <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%" height="100%">
         <p>$6.770</p>
         <p>40% OFF</p>
         <p>Samsung SmartTv</p>
         
      </section>

   </main>

   <footer>

      <section>
         <h3>Pagá con tarjeta o en efectivo</h3>
         <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
      </section>

      <section>
         <h3>Envío gratis desde $ 2.500</h3>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
      </section>

      <section>
         <h3>Seguridad, de principio a fin</h3>
         <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
      </section>

      <section>
         <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </section>

   </footer>

</body>
</html>

