<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mi primera página en html</title>
</head>

<body>
   <header>
      <img src="/images/logo-mercado-liebre.svg" alt="Imagen Logo" width="100%" height="100%">

      <nav>
            <a href="/">Inicio</a>
            <a href="/contactos">Contactos</a>
            <a href="/servicios">Servicios</a>
            <a href="/ayuda">Ayuda</a>
      </nav>
   </header>      
   
   <main>
      <h2>Servicios</h2>


      <a href="/">Volver al inicio</a>

   </main>

</body>
</html>
