* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}


body {
   font-family: Roboto;
   background-color: #ebebeb;
}

.main-header {
   background-color: #EAC926;
   padding: 20px;
}

.logo {
   width: 150px;
}

.copy-header {
   font-weight: 400;
   text-align: center;
   font-size: 12px;
   padding: 10px;
}

.hamburger-button {
   background-color: #03264C;
   color: #ffffff;
   display: block;
   max-width: 50px;
   padding: 15px 0px;
   border-radius: 8px;     
   text-align: center;
   font-size: 18px;
   margin: auto;
}

.main-navbar {
   display: none;
}


.main-navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.main-navbar {
   text-decoration: none;
   color: #222222;
   display: none;
   padding: 5px 0px;
   font-size: 17px;

}

::-webkit-input-placeholder {
   font-size: 10px;
}

.logo {
   width: 40%
}

.searchbar {
   width: 150px;
}

.form {
   display: flex;
   align-items: flex-start;


}

.main-header-top-bar-web {
   display: none;
}

.top-header-mobile {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* Fin del header */

.input:invalid {
   border: 1px dashed red;
}

.input:invalid:focus {
   background-image: linear-gradient(pink,green);
}

.send-button {
   background-color: lightblue;
}


.flexbox-login {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   width: 70%;
   gap: 15px;
   margin: auto;
   padding-top: 20px;   
}



/* Fin del main */

@media (min-width: 360px) {
   .main-header-mobile {
      display: none;
   }

   .form {
      display: flex;
      width: 250px;
      justify-content: center;
   }

   .input{
      width: 70%;
   }

   ::-webkit-input-placeholder {
      font-size: 8px;
   }

   .main-navbar {
      display: inline-block;
   }

   .logo {
      width: 30%;
   }

   .main-header-top-bar-web {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      align-items: center;
       
   }
   .copy-header {
       max-width: 300px;
       text-align: right;
       font-size: 8px;
       align-items: flex-start;
       align-self: center;
       padding: 0%;
   }
   .hamburger-button {
       display: none;
   }
   .main-navbar {
       display: flex;
       justify-content: space-between;
       font-size: 12px;
   }
   .main-navbar ul {
       display: flex;
   }
   .main-navbar li {
       margin: 0 5px;
   }
   /* Fin del header */
}   