* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background-color: #ebebeb;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.logo {
    width: 50%;
}



.copy-header {
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

.hamburger-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;     
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}


.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar {
    text-decoration: none;
    color: #222222;
    display: none;
    padding: 5px 0px;
    font-size: 17px;

}


.form {
    display: inline-block;
    justify-content: center;
}


.mobile-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

::-webkit-input-placeholder {
    font-size: 10px;
}

.logo,
.form {
    width: 50%
}


.form {
    display: flex;
    align-items: flex-start;
}

/* Fin del header (salvo media queris) */

section.banner img{
    width: 100%;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}


article div.main-article{
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.description {
    font-size: 12px;
}

h3,
.description{
    color: #666;
}

main{
    width: 90%;

}

main section article{
    background-color: #fff;

}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main {
    margin: auto;
    width: 90vw;
    box-sizing: border-box;
}

article {
    margin: 10px 0px;
}

.main-article {
    border-top: #ebebeb 1px solid;
    padding: 15px;
    box-sizing: border-box;
}

main section article div {
    position: relative;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }

.discount,
.price {
    display: inline-flex;
    justify-content: flex-start;
    width: 30%;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 12px;
}

.last-visit,
.offers {
    padding: 15px 0px;
    box-sizing: border-box;
}

.description {
    padding: 10px;
    box-sizing: border-box;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;
}

.input{
    width: 70%;
}

/* Fin del main (salvo media queris) */

@media (min-width: 360px) {
    .form {
        display: flex;
        width: 250px;
        justify-content: center;
    }

    .input{
        width: 70%;
    }

    ::-webkit-input-placeholder {
        font-size: 8px;
    }

    .main-navbar {
        display: inline-block;
    }


    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        
    }
    .copy-header {
        max-width: 300px;
        text-align: right;
        font-size: 8px;
        align-items: flex-start;
        align-self: center;
    }
    .hamburger-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    

    main section article {
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .products {
        gap: 5%;
    }
}





@media (min-width: 768px) {
    .form {
        display: flex;
        width: 250px;
        justify-content: center;
        
    }

    .main-navbar {
        display: inline-block;
    }

    .input{
        width: 70%;
    }

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .copy-header {
        max-width: 300px;
        text-align: right;
        font-size: 9px;
        align-items: flex-start;
        align-self: center;
    }
    .hamburger-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }


    .discount {
        padding: 5px;
        width: 70px;
        justify-content: flex-end;
}

    main section article {
        width: 20%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .products {
        gap: 5%;
    }

}


@media (min-width: 1200px) {
    .form {
        display: flex;
        width: 350px;
        justify-content: flex-end;
        
    }
    

    
    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .logo {
        width: 250px
    }
    .copy-header {
        margin: 0px;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}