body {
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   margin-right: 5px;
   margin-left: 5px;
}

header {
   background-color: #EAC926;
   margin: 0;
   padding: 0;
   width: 100%;
}

.topnav {
   margin-left: 20px;
}

.search {
   margin-left: 20px;
}

.logo {
   margin-left: 20px;
}

main {
   background-color: #ebebeb;
}

h4 {
   text-align: center;
}

h2 {
   font-size: 24px;
}

.precio {
   font-size: 18px;
}

.descuentos {
   font-size: 16px;
}

.descripcion {
   font-size: 16px;
}

.burger-menu {
   text-align: center;
   color:#1259c3;
}

.bur {
   color: #fff;
   background-color:#1259c3;
   border-radius: 5px;
   padding: 5px;
   }

.textos {
   font-size: 12px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.list {
   padding-left: 0px;
}

p {
   text-align: center;
}

footer {
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;
}

footer ifoot {
   color:#1259c3;
   font-size: 2em;
   margin-bottom: 10px;
   margin-top: 40px;
}

.copy {
   margin-top: 25px;
   font-size: 12px;
   color: #666;
   text-align: left;
}

footer h3 {
   margin-top: 0px;
   margin-bottom: 0px;
}