
body {
   font-family: 'Plus Jakarta Sans', sans-serif;
   background-color: pink;
}

.contenedor1 {
   text-align: center;
   width: 90%;
   border: 5px;
   padding: 15px;
   box-sizing: border-box;
}

.contenedor2 {
   text-align: center;
   width: 50%;
   border: 5px;
   padding: 15px;
   box-sizing: border-box;
}

@media (min-width:576px) {
   .contenedor1,
   .contenedor2 {
      width: 70%;
      margin: 10px;
   }
   body {
      background-color: yellow;
   }
}

@media (min-width:768px) {
   body {
      background-color: transparent;
   }
   .contenedor1 {
      background-color: red;
   }
   .contenedor2 {
      background-color: blue;
   }
}

@media (min-width:992px) {
   .contenedor1,
   .contenedor2 {
      border: black 10px solid;
   }
}

@media (min-width:1200px) {
   .contenedor1,
   .contenedor2 {
      max-width: 1100px;
   }
}

